  <div id="content">
    <div class="container-fluid">
       <div class="card-banner text-center" style="background-image:linear-gradient(-100deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30
    ,0.4) 60%), url(https://static.pexels.com/photos/7357/startup-photos.jpg);">
           <h1>Sophie Courbey - de Coninck</h1>
      </div>
      <div cass="card-image">
      </div>

