  <div id="content">
    <div class="container-fluid">
      <div class="card-banner text-center" style="background-image: url(https://static.pexels.com/photos/7357/startup-photos.jpg);">
        <h1>Sophie Courbey - de Coninck</h1>
      </div>
      <div class="card-image">
      </div>
