<div id="sidebar">
  <br>
  <a> <strong>How to contact me</strong></a>
  <ul>
    <li>
      <a>
        <i class="fa fa-at" aria-hidden="true"></i>
        <p class="address"> scourbey@gmail.com</p>
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p class="address"> Av de la galaxie 28</p>
        <p class="address"> 1410 Waterloo</p>
        <p class="address"> Belgium</p>
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <p class="address"> +32 471 86 40 71</p>
      </a>
    </li>
  </ul>
</div>


  <div id="content">
    <div class="container-fluid">
      <div class="card-banner text-center">
              <h1>Sophie Courbey</h1>
              <h1> - de Coninck</h1>
      </div>
      <div class="card-image">
      </div>

