 <div id="content">
    <div class="container-fluid footer-distributed">
      <div class="footer-left" >
          <div>
            <a href="https://be.linkedin.com/in/sophie-de-coninck-5449b5b1"><i class="fa fa-linkedin"></i></a><p>Linkedin</p>
          </div>
          <div>
            <a href="https://github.com/so2coninck"><i class="fa fa-github"></i></a><p>Github</p>
          </div>
          <div>
            <a href="http://manu-et-sophie.be/cv_sophie/sophie-courbey_francais.doc"
         download="sophie-courbey_francais.doc"><i class="fa fa-download" aria-hidden="true"></i></a><p>Curriculum Français</p>
          </div>
          <div>
             <a href="http://manu-et-sophie.be/cv_sophie/sophie-courbey_english.doc"
         download="sophie-courbey_english.doc"><i class="fa fa-download" aria-hidden="true"></i></a><p>Curriculum English</p>
          </div>

      </div>

    <div class="footer-right">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Av de la galaxie 28, 1410 Waterloo Belgique</span></p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p><span>+32 471 86 40 71</span></p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><span><a href="mailto:scourbey@gmail.com">scourbey@gmail.com</a></span></p>
      </div>
    </div>
  </div>
</div>



