<footer class="footer-distributed">
  <div class="footer-left">
    <div class="footer-icons">
      <a href="https://be.linkedin.com/in/sophie-de-coninck-5449b5b1"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/so2coninck"><i class="fa fa-github"></i></a>
      <a href="http://www.sophie-courbey-de-coninck.com/Sophie-Courbey_English.doc"
   download="Sophie-Courbey_English.doc"><i class="fa fa-download" aria-hidden="true"></i>
</a>
    </div>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Av de la galaxie 28, 1410 Waterloo Belgique</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+32 471 86 40 71</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:scourbey@gmail.com">scourbey@gmail.com</a></p>
    </div>
  </div>

</footer>



