<%= render "banner"%>
<div class="card-description">
  <ul class="nav nav-pills nav-justified">
    <li><a href="home">Home</a></li>
    <li><a href="education">Education</a></li>
    <li><a href="experiences">Experiences</a></li>
    <li><a href="skills">Skills</a></li>
    <li><a href="languages">Languages</a></li>
    <li><a href="other_abilities">Other Abilities</a></li>
    <li class="active"><a href="contact">Contact</a></li>
  </ul>
</div>

<p>contact</p>

<div class="card-description">
  <ol>
    <li><a><strong>Phone   :</strong> 0471 86 40 71</a></li>
    <li><a><strong>@       :</strong> scourbey@gmail.com</a></li>
    <li><a><strong>web     :</strong> www.sophie-courbey-de-coninck.com</a></li>
    <li><a><strong>address :</strong> Av de la Galaxie, 28  1410 Waterloo</a></li>
  </ol>

</div>

   <p><%= link_to "Return", home_path, style: "text-decoration: none;" %></p>
