<%= render "banner"%>
<div class="card-description">
  <ul class="nav nav-pills nav-justified">
    <li><a href="home">Home</a></li>
    <li><a href="education">Education</a></li>
    <li><a href="experiences">Experiences</a></li>
    <li class="active"><a href="skills">Skills</a></li>
    <li><a href="languages">Languages</a></li>
    <li><a href="other_abilities">Other Abilities</a></li>
  </ul>
</div>


<div class="card-description">
      <p class="title">IT Skills</p>
        <ul>
          <li><p>- FullStack Developer: Ruby, HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku and Ruby on Rails</p></li>
          <li><p>- excellent skills of MS office</p></li>
          <li><p>- Very good knowledge of Axapta (MRP) (Keyuser)</p></li>
          <li><p>- Very good knowledge of Navision (ERP) (Keyuser)</p></li>
          <li><p>- Quick adaptation to new softwares</p></li>
        </ul>
     </div>

<div class="card-description">
      <p class="title">Other Skills</p>
        <ul>
          <li><p>- Incoterms</p></li>
          <li><p>- Import – export (Sea, air, road)</p></li>
          <li><p>- Supply chain Management </p></li>
          <li><p>- Documentary credits</p></li>
          <li><p>- Quick adaptation to new softwares</p></li>
          <li><p>- Training First assistance</p></li>
          <li><p>- Training Fire prevention</p></li>
        </ul>
     </div>

  <div class="card-description">
    <p class="title">Soft Skills</p>
    <ul>
      <li><p>- Team Player</p></li>
      <li><p>- Autonomous</p></li>
      <li><p>- Organized and structured </p></li>
      <li><p>- Dynamic and Multipurpose</p></li>
      <li><p>- Solution-oriented and client-oriented</p></li>
      <li><p>- Creative</p></li>
    </ul>
  </div>



<%=render "footer"%>


