<%= render "banner"%>
<div class="card-description">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="home">Home</a></li>
    <li><a href="education">Education</a></li>
    <li><a href="experiences">Experiences</a></li>
    <li><a href="skills">Skills</a></li>
    <li><a href="languages">Languages</a></li>
    <li><a href="other_abilities">Other Abilities</a></li>
  </ul>
</div>
      <div class="card-description text-center">
          <p>
                After 3 years in financial markets, I got bored and launched Le Wagon. Our mission: <strong>bring technical skills to creative people</strong>.
          </p>
      </div>


