<div id="content">
  <div class="container-fluid">
    <%= render "banner"%>
      <div class="card-description">
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="home">Home</a></li>
          <li><a href="education">Education</a></li>
          <li><a href="experiences">Experiences</a></li>
          <li><a href="skills">Skills</a></li>
          <li><a href="languages">Languages</a></li>
          <li><a href="other_abilities">Other Abilities</a></li>
        </ul>
      </div>
      <div class="card-description text-center">
        <h2><strong>OPEN THE FUTURE</strong></h2>
          <br>
           <p>During 10 years, I worked in the import-export sector, sending industrial tools and vehicles around the world, managing payments, customs, etc. During this period, I always worked close to all different IT projects and softwares migrations. At the beginning more like a key user but at the end, more like a Data Base Administrator. Since I was very young, I always had an IT mindset and that's why I decided to reorient my carreer in a direction more close to my real aspirations. So today, I manage both logistic skills and Web Developer skills. And I will be very glad to help you to create the future of your company !!!
                </p>
      </div>

      <div class="card-description text-center">
        <p><strong> Age :</strong> 39 years</p>
        <p><strong> Nationality :</strong> French </p>
        <p><strong> Family situation :</strong> Married 1 child</p>
      </div>


    <%=render "footer"%>

  </div>
</div>
