


  /*footer*/
  /*general*/
.footer-distributed{
  background-color: #384047;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 14px sans-serif;
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 4px;
}


  /*gauche*/
 .footer-distributed .footer-left{
  width: 50%;
  float: left;
}
.footer-distributed .footer-left p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-left i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

  /*droit*/
.footer-distributed .footer-right{
  width: 50%;
    display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-right p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
   font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-right i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 0px;
  vertical-align: middle;
}
.footer-distributed .footer-right p a{
  color:  #5383d3;
  text-decoration: none;;
}





/* rendre le footer responsive*/

@media (max-width: 880px) {
  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: justify;
  }

}
